@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Spartan:wght@700&display=swap');

.img-flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.clickableLink {
  cursor: pointer;
  color: blue !important;
}

#app-bar {
  width: 100%;
}

.hero-component {
  height: 106vh;
  min-height: 100vh;
}

.headerLink {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 16px;
    display: block;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.headerLink:after {  
    background: none repeat scroll 0 0 transparent;
    top: 0px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    
  
  }
.headerLink:hover:after {  
    width: 100%; 
    left: 0; 
  
  }

.lotus {
    cursor: pointer;
}

.activeLink {
    color: #ccc;
    margin-top: 20px;
    margin-bottom: 16px;
    display: block;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: color .5s;
}

.activeLink:after {  
    background: none repeat scroll 0 0 transparent;
    top: 0px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    
  
  }

  .activeLink:hover:after {  
    width: 100%; 
    left: 0; 
  
  }

.centeredLink {
  text-align: center;
}



.scroll-down {
  margin:0 auto;
  position:relative;
  top:50%;
  animation-name:bounce;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

@keyframes bounce {
  from {
    transform:translateY(0px);
  }
  to {
    transform:translateY(10px);
  }
}


.headerDrawerLink {
    margin-top: 20px;
    margin-bottom: 16px;
    display: block;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.activeDrawerLink {
    color: #222;
    margin-top: 20px;
    margin-bottom: 16px;
    display: block;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
    transition: color .5s;
}


